<p>
  s6component works!
</p>

<!-- SESSION 6 ASSIGNMENT -->
<!-- 1. In a component create two variables title and name.
2. Assign values to the variable in ngOnInit() .Bind the values to HTML page with help
of string interpolation.
3. HTML page should display the values which are in the component. -->

<!-- Name and title values are initialised in root-component.component.ts -->

<div id="Session6">
  <span id="span1"><b><u>Session 6 Assignment - output</u></b> --> Bind the values to HTML page with help of string interpolation </span>
    <br/><br/> Values of Name and Title from ngOnInit --> "<b>{{name}}</b>" and "<b>{{title}}</b>"
  </div>
  
  
  